
# client
node_modules/
package-lock.json

# server
# created directories
file_store

# private
.env

# editor
.vscode

# byte-compiled
__pycache__/

# packaging
build/

# tests
